<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <form action="../server/register.php" method="post" id="myForm">
        <input type="text" name="name" id="name" placeholder="Digite seu nome...">
        <input type="number" name="phone" id="phone" placeholder="Digite seu telefone...">
        <input type="email" name="email" id="email" placeholder="Digite seu email...">
        <button type="submit">Enviar</button>
    </form>
    <script src="app.js"></script>
</body>
</html>